<% builder = -> (*args) { %>
  <% if type == :checkbox %>
    <% if form.instance_variable_defined? :@checked_list %>
      <% form.check_box args[0], { multiple: true, id: "#{args[0]}_#{args[1]}", checked: form.instance_variable_get(:@checked_list).fetch(:tag_filters, []).include?(args[1].to_s) }, args[1], nil %>
    <% else %>
      <% form.check_box args[0], { multiple: true, id: "#{form.object_name}_#{args[0]}_#{args[1]}" }, args[1], nil %>
    <% end %>
  <% else %>
    <% form.radio_button *args %>
  <% end %>
<% } %>

<% if node.children.length > 0 %>
  <li class='nested'>
  <%= builder.call name, node.id %>
  <%= form.label "#{name}_#{node.id}" do %>
    <span class="caret"><%= node.name%></span>
  <% end %>
  <ul>
    <% node.children.each do |child|%>
      <%= render :partial => "shared/nested_tree", :locals => {:type => type, :name => name, :form => form, :node => child} %>
    <% end %>
  </ul>
<% else %>
  <li>
  <%= builder.call name, node.id %>
  <%= form.label "#{name}_#{node.id}" do %>
    <%= node.name%>
  <% end %>
<% end %>
  </li>
