<%= form_with(model: storage, local: true) do |form| %>
  <% storage = Storage.find(params[:format]) if params[:format] %>
  <% if storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

      <ul>
        <% storage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <p>Parent (Choose One)</p>
    <% if params[:format] %>
      <p><%= storage.parent ? storage.parent.name : '' %></p>
      <%= form.hidden_field :parent_id, value: storage[:parent_id] %>
    <% else %>
      <%= render :partial => "shared/tree",
            :locals => {:type => :radio, :name => :parent_id, :form => form, :roots => Storage.top_level} %>
      <input type="button" value="Reset"
        onclick="document.querySelector('input[type=radio]:checked').checked=false">
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
