<p id="notice"><%= notice %></p>

<h1>Storages</h1>

<%= form_with(model: @top_levels.first, local: true) do |form| %>
<%= render :partial => "shared/tree",
      :locals => {:type => :radio, :name => :parent_id, :form => form, :roots => @top_levels} %>
<% end %>

<p>
  <%= link_to 'Show', storage_path('0'), class: 'mutable_link link_button' %>
  <%= link_to 'Edit', edit_storage_path('0'), class: 'mutable_link link_button' %>
  <%= link_to 'Destroy', storage_path('0'), class: 'mutable_link link_button', method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p><%= link_to 'New Storage', new_storage_path, class: 'link_button' %></p>

<script>
<!-- "Change link for selected item" -->
var links = document.querySelectorAll('.mutable_link');
document.querySelector('form').addEventListener('input', function(e) {
  links.forEach(function(link) {
    strs = link.href.split('/');
    link.idx ? null : link.idx = strs.indexOf('0');
    strs[link.idx] = e.srcElement.value;
    link.href = strs.join('/');
    // link.style.display = ''
    link.classList.remove('mutable_link');
  });

});
</script>
