<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storage.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @storage.parent ? @storage.parent.name : '' %>
</p>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %> |
<%= link_to 'New', new_storage_path %>
