<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storage.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @storage.parent ? @storage.parent.name : '' %>
</p>

<p>
  <%= link_to 'Edit', edit_storage_path(@storage) %> |
  <%= link_to 'Back', storages_path %> |
  <%= link_to 'Duplicate', new_storage_path(@storage) %>
</p>

<strong>Items Inside:</strong>
<table>
  <thead>
    <th>Name</th>
    <th>Count</th>
    <th>Image</th>
  </thead>
  <tbody>
    <% @storage.items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.count %></td>
        <td>
          <% if item.image.attached? %>
            <img src="<%= url_for item.image %>", class='thumbnail'>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
