<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storage.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @storage.parent ? @storage.parent.name : '' %>
</p>

<p>
  <%= link_to 'Edit', edit_storage_path(@storage) %> |
  <%= link_to 'Back', storages_path %> |
  <%= link_to 'Duplicate', new_storage_path(@storage) %>
</p>

<strong>Items Inside:</strong>
<% @storage.items.each do |item| %>
  <!-- <p><%= item.name %></p> -->
  <p><%= link_to item.name, item_path(item) %></p>
<% end %>
