<%= form_with(model: tag, local: true) do |form| %>
  <% tag = Tag.find(params[:format]) if params[:format] %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <p>Parent (Choose One)</p>
    <% if params[:format] %>
      <p><%= tag.parent ? tag.parent.name : '' %></p>
      <%= form.hidden_field :parent_id, value: tag[:parent_id] %>
    <% else %>
      <ul class="treeUL">
        <% Tag.top_level.each do |root| %>
          <%= render :partial => "shared/nested_list",
            :locals => {:type => :radio, :name => :parent_id, :form => form, :node => root} %>
        <% end %>
      </ul>
      <input type="button" value="Reset"
        onclick="document.querySelector('input[type=radio]:checked').checked=false">
    <% end %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>

  <script>
  <!-- "caret click event" -->
  var toggler = document.getElementsByClassName("caret");
  var i;

  for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
      this.parentElement.parentElement.querySelector(".nested")
        .classList.toggle("active");
      this.classList.toggle("caret-down");
    });
  }

  <!-- "search" -->
  function tree_search() {
      var input, filter, lis, item, i;
      input = document.getElementById("search_input");
      filter = input.value.toUpperCase();
      lis = document.querySelectorAll(".treeUL li");
      for (i = 0; i < lis.length; i++) {
          item = lis[i].getElementsByTagName('span')[0] || lis[i];
          if (item.textContent.toUpperCase().indexOf(filter) > -1) {
              item.style.display = "";
          } else {
              item.style.display = "none";
          }
      }
  };
  </script>
<% end %>
