<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<%= form_with(model: @top_levels.first, local: true) do |form| %>
<%= render :partial => "shared/tree",
      :locals => {:type => :radio, :name => :parent_id, :form => form, :roots => @top_levels} %>
<% end %>

<p>
  <%= link_to 'Show', tag_path('0'), class: 'mutable_link link_button' %>
  <%= link_to 'Edit', edit_tag_path('0'), class: 'mutable_link link_button' %>
  <%= link_to 'Destroy', tag_path('0'), class: 'mutable_link link_button', method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p><%= link_to 'New Tag', new_tag_path %></p>
