<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @tag.parent ? @tag.parent.name : '' %>
</p>

<p>
  <%= link_to 'Edit', edit_tag_path(@tag) %> |
  <%= link_to 'Back', tags_path %> |
  <%= link_to 'Duplicate', new_tag_path(@tag) %>
</p>

<strong>Items Associated:</strong>
<table>
  <thead>
    <th>Name</th>
    <th>Count</th>
    <th>Image</th>
  </thead>
  <tbody>
    <% @tag.items.each do |item| %>
      <!-- <p><%= item.name %></p> -->
      <tr>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.count %></td>
        <td>
          <% if item.image.attached? %>
            <img src="<%= url_for item.image %>", class='thumbnail'>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
