<%= form_with(model: item, local: true) do |form| %>
  <% item = Item.find(params[:format]) if params[:format] %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label 'choose_image', class: 'file_button' %>
    <a id='file_label'>No file chosen...</a>
    <%= form.hidden_field :image, value: '' %>
    <%= form.file_field 'choose_image', accept: "image/*", capture: "camera", style: 'display: none' %>
  </div>

  <div class="field">
    <a>Storage (Choose One)</a>
    <% if params[:format] %>
      <p><%= item.storage.name %></p>
      <%= form.hidden_field :storage_id, value: item[:storage_id] %>
    <% else %>
      <%= render :partial => "shared/tree",
            :locals => {:type => :radio, :name => :storage_id, :form => form, :roots => Storage.top_level} %>
      <%= link_to 'New Storage', new_storage_path %>
    <% end %>
  </div>

  <div class="field">
    <a>Tags (Miltiple Selection)</a>
    <% if params[:format] %>
      <% item.tags.each do |tag| %>
        <p><%= tag.name %></p>
        <%= form.hidden_field :tags, value: tag.id, multiple: true %>
      <% end %>
    <% else %>
      <%= render :partial => "shared/tree",
            :locals => {:type => :checkbox, :name => :tags, :form => form, :roots => Tag.top_level} %>
      <%= link_to 'New Tag', new_tag_path %>
    <% end %>
  </div>

  <div class="field" style="display: none">
    <%= form.label :time_in %>
    <%= form.datetime_select :time_in %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
