<p id="notice"><%= notice %></p>

<h1>Items</h1>
<%= form_with url: items_path, method: :get, local: true do |form| %>

  <% form.instance_variable_set :@checked_list, params.permit(:search, tag_filters: []) %>
  <%= form.search_field :name, placeholder: 'Enter item name here', value: params[:name] %>
  <ul class="treeUL">
    <li class='nested'>
      <label><span class="caret">Tag filters</span></label>
      <%= form.submit 'apply', name: nil %>
      <%= render :partial => "shared/tree",
            :locals => {:type => :checkbox, :name => :tag_filters, :form => form, :roots => Tag.top_level} %>
    </li>
  </ul>

<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Price</th>
      <th>Image</th>
      <th>Storage</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.count %></td>
        <td><%= item.price %></td>
        <td>
          <% if item.image.attached? %>
            <img src="<%= url_for item.image %>", class='thumbnail'>
          <% end %>
        </td>
        <td><%= item.storage.name %></td>
        <td>
          <% item.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page_nav">
  <% page = params.fetch(:page, "1").to_i %>
  <% params.delete :search if params[:search] == '' %>
  <div>
    <%= link_to 'Prev', items_path(params.merge({:page => "#{[1,page-1].max}"}).permit(:search, :page, :tag_filters => [])) %>
  </div>
  <div class="page_nav_number">
    <a><%= "#{page}/#{@max_page}" %></a>
  </div>
  <div>
    <%= link_to 'Next', items_path(params.merge({:page => "#{[page+1,@max_page].min}"}).permit(:search, :page, :tag_filters => [])) %>
  </div>

</div>


<%= link_to 'New Item', new_item_path %>
