<!DOCTYPE html>
<html>
  <head>
    <title>HI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ios web app -->
    <%= favicon_link_tag 'icon.png' %>
    <%= favicon_link_tag 'icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'icon.png', rel: 'bookmark', type: 'image/png' %>
    <meta name="apple-mobile-web-app-title" content="HI">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="true">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <%= link_to 'Home', root_path %>
    </div>
    <%= yield %>
  </body>
</html>
